@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<TodoWebApp.Models.Assignee>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="~/Styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Number of todos: @Model.Count</h1>
    <a href="/assignee/add">Add new assignee</a>
    <table>
        <tr>
            <th class="index">ID</th>
            <th class="index">NAME</th>
            <th class="index">EMAIL</th>
        </tr>
        @foreach (var assignee in Model)
        {
            <tr>
                <td class="index">@assignee.Id</td>
                <td>@assignee.Name</td>
                <td class="index">@assignee.Email</td>
                <td><a asp-controller="Todo" asp-action="Delete" asp-route-id="@assignee.Id">delete</a></td>
                <td><a asp-controller="Todo" asp-action="GetUpdatePage" asp-route-id="@assignee.Id">update</a></td>
            </tr>
        }
    </table>
</body>
</html>