@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>King</th>
            <th>Bad/Good</th>
        </tr>
        @foreach (BankOfSimba.Models.BankAccount item in ViewBag.BankAccounts)
        {
            <tr class="@(item.IsKing ? "king" : "")">
                <td class="index">@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Balance.ToString("0.00") Zebra</td>
                <td>@item.AnimalType</td>
                <td class="index"> @(item.IsKing ? "King" : " ")</td>
                <td class="index">@(item.IsGood ? "Good guy" : "Bad one")</td>
            </tr>
        }
    </table>
    <form action="/show" method="post">
        <label>Raise the balance of a selected animal:</label>
        <select name="animalIndex">
            @foreach (BankOfSimba.Models.BankAccount item in ViewBag.BankAccounts)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <input type="submit" value="Raise Balance">
    </form>
    <form action="/add" method="post">
        <label>Name:</label>
        <input type="text" name="Name" required />
        <label>Balance:</label>
        <input type="text" name="Balance" required />
        <label>Animal type:</label>
        <input type="text" name="AnimalType" required />
        <label>King:</label>
        <input type="checkbox" name="IsKing" />
        <label>Good:</label>
        <input type="radio" name="IsGood" value="true" checked="checked" required />
        <label>Bad:</label>
        <input type="radio" name="IsGood" value="false" required />
        <input type="submit" value="Submit">
    </form>
</body>
</html>

